<body>
<%= simple_form_for @post, url: posts_path, as: 'post' do |f| %>
  <div class = "vcenter">
     <%= f.input :title, placeholder: 'Enter title of case' %>
     <%= f.hidden_field :name, :value => current_user.email%>
     <%= f.input :module1, placeholder: 'Enter first information' %>
     <%= f.text_area :module1information, placeholder: 'enter information for first module' %>
  </div>
  <%= f.button :submit, "submit", :class => "btn btn-success btn-lg" %>
  <% end %>
  <%= link_to 'posts', posts_path %>
</body>
